.pre-switch *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.pre-switch.container{
    position:relative;
    font-size:16px;
    width:55px;
    height:25px;
    -webkit-border-radius:50px;
    border-radius:50px;
    color:#fff;
    font-family:sans-serif;
    -webkit-box-shadow:inset 0 1px 1px 1px rgba(0,0,0,.5);
    box-shadow:inset 0 1px 1px 1px rgba(0,0,0,.5);
    background-color:#fff;
}
.pre-afterLabel{
    position:absolute;
    line-height: 25px;
    color:#000;
}
.pre-beforeLabel{
    position:absolute;
    line-height: 25px;
    color:#000;
}
.pre-switch.handle{
    position:absolute;
    width:25px;
    height:25px;
    -webkit-border-radius:50px;
    border-radius:50px;
    -webkit-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
    background-image: -webkit-linear-gradient(top, white 40%, #efefef);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #cccccc);
}
.pre-switch.center{
    width:21px;
    height:21px;
    margin:2px;
    -webkit-border-radius:42px;
    border-radius:42px;
}
.pre-switch.on {
    -webkit-transform:translateX(30px);
    -o-transform:translateX(30px);
    transform:translateX(30px);
}
.pre-switch.off {
    -webkit-transform:translateX(0px);
    -o-transform:translateX(0px);
    transform:translateX(0px);
}
.pre-label{
    position:absolute;
    width:55px;
    height:25px;
    font-size:12px;
    padding:6px 5px;
    -webkit-border-radius:25px;
    border-radius:25px;
}
.pre-label.onlabel{
    background-color:rgba(0,200,0,.5);
    text-align:left;
}
.pre-label.offlabel{
    background-color:rgba(0,0,0,.2);
    text-align:right;
}